*~
\#*

.DS_Store
Thumbs.db
.shell_history
.mailmap
.java-version

.idea/
.project
.classpath
.settings/
.externalToolBuilders/
.scala_dependencies
.factorypath

.cache/
.cache-main/
.cache-tests/

*.iws
*.ipr
*.iml

target/
out/
logs/
neo4j-home/
neo4j/data/
neo4j/plugins/
playground/node_modules/
playground/dist/
